.form {
  float: right;
  position: relative;
  bottom: 80px;
}

.form button {
  padding: 8px 30px;
  background-color: rgb(85, 172, 34);
  color: white;
  font-size: large;
  font-weight: 500;
  border: none;
  border-radius: 24px;
  float: right;
  margin-top: 8px;
}

.form button:hover,
.form button:active {
  background-color: olivedrab;
  cursor: pointer;
}
